<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="inputLocation" value="/Users/rakesh/Input" />
		<add key="xmlOutputLocation" value="/Users/rakesh/Output/XmlFiles" />
		<add key="textOutputLocation" value="/Users/rakesh/Output/TextFiles" />
	</appSettings>
</configuration>